@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.navbar-brand {
  font-family: 'Poppins', sans-serif !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  /* padding-top: 5px; */
  /* margin-top: 3px; */
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  /* width: 500px; */
  height: 500px;
  padding: 40px;
  /* margin: 40px; */
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* Featurette */
.margin-featurette {
  margin-top: 10rem !important;
}

/* h3 background color carousel */
.h3-background-color {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
}

/* opacity */
.opaci-carousel {
  opacity: 0.6;
}

/* font style */
.font-link {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

/*Color black*/
.black-color {
  color: black;
}

.patient-card:hover {
  transition: ease-in-out;
  transform: scale(1.1);
  background: burlywood !important;
}

/* Catalogue Bar */

.catalogue-bar-heading {
  margin-top: 15px;
}
